<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавление</title>
</head>
<body>
    <h1>Добавление пользователя</h1>
    <form method="POST">
        <label>Имя</label><br>
        <input name="FirstName" class="field" /><br><br>
        <label>Фамилия</label><br>
        <input name="LastName" class="field" /><br><br>
        <label>Отчество</label><br>
        <input name="MidleName" class="field" /><br><br>
        <label>Возраст</label><br>
        <input name="Age" type="number" class="field" /><br><br>
        <label>Почта</label><br>
        <input name="Email" type="email" class="field" /><br><br>
        <label>Телефон</label><br>
        <input name="Phone" class="field" /><br><br>
        <input type="submit" value="Отправить" />
    </form>
    <a href="/">К списккуу</a>
</body>
</html>